<p>Hi <%= @user.first_name %>,</p>

<p>Thanks for signing up to use Unpolarise.</p>

<p>Get the Chrome extension up and running and you'll be good to go!</p>

<p>All the best,</p>

<p>The Unpolarise Team</p>
