<!-- Footer partial which replicates Airbnb's footer. Included in the application.html.erb file -->
<div class="footer-container">
  <div class="footer-container">
    <ul class="footer-list">
      <li>
        <!-- !!!!!!!!! Currently points to home page -->
        <%= link_to "About",  %>
      </li>
      <li>
        <%= link_to "Suggest Article" %>
      </li>
      <li>
        <%= link_to "Privacy" %>
      </li>
      <li>
        <%= link_to  %>
      </li>
    </ul>
  </div>
</div>
