<!-- Static page which contains information about Unpolarise -->
<div class="text-center">
  <p>Static page which contains information about Unpolarise</p>
  <p>Static page which contains information about Unpolarise</p>
</div>


