/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padded-text {
  padding-top: 15px;
  padding-bottom: 15px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

body {
  margin-top: $navbar-height;
}

// Set a minimum height for each body so that the footer always appears at the base of a page
.body-container {
  min-height: calc(100vh - $navbar-height - $footer-height);
}

// General classes for text
.italic {
  font-style: italic;
}
.txt-para {
  font-weight: lighter;
}
.header {
  margin-bottom: 20px;
}


