<div class="row">

  <div class="col-xs-3 resized-icons">
    <% 1.upto(5) do |i| %>
      <% if i <= review.rating %>
        <i class="fa fa-star" aria-hidden="true"></i>
      <% else %>
        <i class="fa fa-star-o" aria-hidden="true"></i>
     <% end %>
    <% end %>
  </div>

  <div class="col-xs-9">
    <p><em><%= review.content %></em> - <%= "#{review.user.first_name} #{review.user.last_name[0]}." %></p>
  </div>
</div>

